$primary: #4E6CA2;
$darkPrimary: #0C3972;

html,body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}
body {
  background: rgb(87, 150, 218);
  background: url('/images/background.jpg');
  background-attachment: fixed;
}
a {
  text-decoration: none;  
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.container {
  margin: auto;
  text-align: center;

  &.small {
    width: 590px;

    @media(max-width: 590px) {
      width: 90%;
    }
  }
}
.full-height {
  height: 100%;
}
canvas {
  padding: 20px;
  background: white;
  box-shadow: 1px 2px 8px rgba(49, 49, 49, 0.57);
  display: none;
  cursor: move;
  margin-bottom: 30px;
  width: 350px;

  &.zoomIn {
    display: inline-block;
  }

}

.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.zoomIn {
  -webkit-animation: zoomIn .5s ease-in-out;
  animation: zoomIn .5s ease-in-out;
}
.btn {
  background: $primary;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  box-shadow: 0 4px $darkPrimary;
  transition: .25s background;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  border: none;
  display: inline-block;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: darken($primary, 5%);
  }
  &:active {
    background: darken($primary, 10%);
    top: 4px;
    box-shadow: none;
  }
}
.cta {
  margin-bottom: 30px;
}
.small {
  font-size: 0.8em;
  color: #204D7E
}
.fade-down {
  opacity: 1;
  position: relative;
  top: 0;
  -webkit-animation: fade-down .5s; /* Chrome, Safari, Opera */
  animation: fade-down .5s;
}
.fade-in {
  opacity: 1;
  position: relative;
  -webkit-animation: fade-in .5s; /* Chrome, Safari, Opera */
  animation: fade-in .5s;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}
.spinner-container {
  position: fixed;
  left: calc(50% - 20px);
  top: 20%;
}

.hidden {
  display: none !important;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.white {
  color: white;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.small-heading {
  font-size: 21px;
}
.error-container {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  vertical-align: middle;
  left: 0;
  text-align: center;
  margin: auto;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}
.error-message {
  color: white;
  margin-top: 150px;
  display: block;
  font-size: 30px;
}

.over {
  background: red;
}
.description {
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 40px;
  // margin-top: 20px;
}
.logo {
  display: block;
  margin: 40px auto;
  text-align: center;
  width: 200px;
}

@import 'animations';