<!DOCTYPE html>
<html>
	<head>
		<title>Peppa EX14</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="javascripts/angular.min.js"></script>
		<script src="javascripts/angular-route.min.js"></script>
		<script src="javascripts/angular-facebook.js"></script>
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/dist/main.min.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>	
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<meta name="description" content="Snart är det dags! Byt ut din profilbild för den ultimata EX14-peppen och välj ett omslagsfoto att smycka ut din profil med.">
<meta property="og:title" content="Peppa EX14!"/>
	</head>
	<body ng-app="ex14">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-40003921-2', 'ex14.se');
	  ga('send', 'pageview');
	</script>		
	<div class="container full-height" ng-view>

	</div>
	</body>
</html>
