<div class="container small">
  <div class="content fade-down">
    <img class="logo" src="/images/logo.png" alt="EX14 Logo">
    <h1 class="white description">Snart är det dags! Byt ut din profilbild för den ultimata EX14-peppen och välj ett omslagsfoto att smycka ut din profil med. Vi syns på facebook!</h1>
    <!-- <div class="table">
    	<div class="table-cell"> -->
  </div>
    <div class="cta">
      <a href="/omslagsfoton.zip" target="_self" ng-show="showButton" class="btn fade-down ">Ladda ner omslagsfoton</a>
      <a href="#" ng-click="authenticate()" ng-show="showButton" class="btn fade-down ">{{btnText}}</a>
    </div>
  	<!-- </div>
  </div> -->
</div>